<div class="header-container fixed-top">
  <header class="header navbar navbar-expand-sm">
    <ul class="navbar-item theme-brand flex-row text-center">
      <li class="nav-item theme-logo">
        <a href=" "> <img src="https://aurigain.com/images/logon.jpeg" width="30" height="30" class="navbar-logo"
            alt="logo"></a>
      </li>
      <li class="nav-item theme-text">
        <a href=" " class="nav-link"> Aurigain</a>
      </li>
    </ul>
    <button type="button" id="sidebarCollapse" class="btn  btn-outline-info m-29" (click)="calltoggleSideNav()">
      <i class="fa fa-align-left"></i>
    </button>


    <ul class="navbar-item flex-row ml-md-auto aurigain-notification">
      <li class="pt-1">
        <div class="row">
          <div class="col">
            <div ngbDropdown class="d-inline-block">
              <button type="button" class="btn notification-bell" id="dropdownForm1" ngbDropdownToggle><i
                  class="fa-solid fa-bell bellbg"></i></button>
                  <div>
                    <span class="text-white notificationDig"> <strong>{{unreadList?.length}}</strong></span>
                  </div>
              <div ngbDropdownMenu aria-labelledby="dropdownForm1" class="dropdown-menu-right">

                <nav>
                  <div class="nav nav-pills" id="nav-tab" role="tablist">
                    <a class="nav-item nav-link ml-1" [ngClass]="{ active: currentStep == 1 }" id="basic-tab"
                      data-toggle="pill" href="#nav-basic" role="tab" aria-controls="nav-basic" aria-selected="true"
                      (click)="setStep(1)">Read</a>

                    <a class="nav-item nav-link" [ngClass]="{ active: currentStep == 2 }" id="nav-address-tab"
                      data-toggle="pill" href="#nav-address" role="tab" aria-controls="nav-address"
                      aria-selected="false" (click)="setStep(2)">UnRead</a>
                  </div>
                </nav>

                <div class="tab-content bg-light p-1 tab-content-height" id="nav-tabContent">
                  <div class="tab-pane fade" [ngClass]="{ 'show active': currentStep == 1 }" id="nav-basic"
                    role="tabpanel" aria-labelledby="nav-basic-tab">
                    <div class="notification new ng-scope" *ngIf="readList">
                      <div class="notification-text ng-binding notificationBackground notificationInfotext"
                        *ngFor="let notification of readList">
                        <div>
                          <span
                            class="highlight ng-binding notificationInfotext infoFontweight">{{notification?.subject}}</span>
                        </div>
                        <div>
                          <span class="notificationInfotext">{{notification?.notification}}</span>
                        </div>
                      </div>
                    </div>
                    <div class="notification new ng-scope" *ngIf="readList.length == 0">
                      <div class="notification-text ng-binding">
                        <p class="notificationInfotext infoFontweight">No Read Notification</p>
                      </div>
                    </div>
                  </div>
                  <div class="tab-pane fade" [ngClass]="{ 'show active': currentStep == 2 }" id="nav-basic"
                    role="tabpanel" aria-labelledby="nav-basic-tab">
                    <div class="notification new ng-scope" *ngIf="unreadList">
                      <div class="notification-text ng-binding notificationBackground"
                        *ngFor="let notification of unreadList">
                        <div (click)="readNotification(notification?.id)">
                          <div>
                            <span
                              class="highlight ng-binding notificationInfotext infoFontweight">{{notification?.subject}}</span>
                          </div>
                          <div>
                            <span class="notificationInfotext">{{notification?.notification}}</span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="notification new ng-scope " *ngIf="unreadList.length == 0">
                      <div class="notification-text ng-binding">
                        <p class="notificationInfotext infoFontweight">No UnRead Notifications</p>
                      </div>
                    </div>
                  </div>

                </div>
                <hr class="my-1">
                <a routerLink="notification-view"><p class="float-right mr-2 mb-0"><i class="fa fa-arrow-alt-circle-right text-danger mx-1"></i>View All</p></a>

              </div>
            </div>
          </div>
        </div>

      </li>



      <li class="nav-item dropdown user-profile-dropdown">
        <a href="" id="userProfileDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
          class="nav-link dropdown-toggle user pt-2">
          <img [src]="userProfile?.image" width="28" alt="">
        </a>
        <div aria-labelledby="userProfileDropdown" class="dropdown-menu dropdown-menu-right">
          <div>
            <div class="dropdown-item">
              <div class="dropdown-item-img">
                <img src="http://allaboutitdemo.co.in/assets/img/user-default.jpg" alt="">
              </div>
              <div class="dropdown-item-name text-center">
                <div>{{userProfile?.full_name}}</div>
                <strong>{{userProfile?.user_group?.role_name}}</strong>
              </div>
              <div class="top-text">
                <a routerLink="change-password" class="dropdown-item text-danger pb-0">
                  <i class="fas fa-key pr-1"></i>Change password
                </a>
                <a href="javascript:void(0);" (click)="logout()" class="dropdown-item sign-out">
                  <i class="fas fa-sign-out-alt pr-1"></i>Sign Out
                </a>
              </div>

            </div>
          </div>
        </div>
      </li>
    </ul>
  </header>
</div>
