<div class="layout-px-spacing">
  <div class="row h-100" style="min-height: 100vh;">
    <div class="col-xl-12 col-lg-12 col-md-12">
      <div class="widget bg-white pb-4">
        <div class="widget-header">
          <div class="row d-block d-sm-flex align-items-center justify-content-between text-center text-sm-left">
            <div>
              <h3>Fresh Lead Deatils</h3>
              <nav class="custom-breadcrum">
                <ol class="breadcrumb justify-content-center justify-content-sm-start">
                  <li class="breadcrumb-item">
                    <a routerlink="../dashboard">Home</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a routerLink="/dashboard/fresh-leads"> Fresh Lead</a>
                  </li>
                  <li aria-current="page" class="breadcrumb-item active">
                    View Fresh Lead
                  </li>
                </ol>
              </nav>
            </div>
          </div>
        </div>
        <div class="mt-5 box">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="box2">
              <h5>
                <!-- <img src="" alt="personal"> -->
                Personal Details
              </h5>
            </div>
            <div class="table-responsive">
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <td style="width: 25%;"><strong>Loan Case Date:</strong></td>
                    <td style="width: 25%;"> {{leadDetails?.created_at | date: 'mediumDate'}}</td>
                    <td style="width: 25%;"><strong>Loan Type</strong></td>
                    <td style="width: 25%;">{{leadDetails?.loan_type?.loan_type}}</td>
                  </tr>

                  <tr>
                    <td style="width: 25%;"><strong>Full Name:</strong></td>
                    <td style="width: 25%;">{{leadDetails?.lead?.fullname | titlecase}}</td>
                    <td style="width: 25%;"><strong>Gender</strong></td>
                    <td style="width: 25%;">{{leadDetails?.lead?.gender  | titlecase}}</td>
                  </tr>

                  <tr>
                    <td style="width: 25%;"><strong>Mobile Number:</strong></td>
                    <td style="width: 25%;">{{leadDetails?.lead?.phonenumber}}</td>
                    <td style="width: 25%;"><strong>Loan Account Number:</strong></td>
                    <td style="width: 25%;">{{leadDetails?.loan_amount_needed}}</td>
                  </tr>
                  <tr>
                    <td style="width: 25%;"><strong>Amount Loan:</strong></td>
                    <td style="width: 25%;">{{leadDetails?.loan_amount_needed}}</td>
                    <td style="width: 25%;"><strong>Purpose of Loan:</strong></td>
                    <td style="width: 25%;">Holidays</td>
                  </tr>

                  <tr>
                    <td style="width: 25%;"><strong>Date of Loan</strong></td>
                    <td style="width: 25%;">{{leadDetails?.loan_date}}</td>
                    <td style="width: 25%;"><strong></strong></td>
                    <td style="width: 25%;"></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="mt-5 box">
          <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="box2">
              <h5>
                <!-- <img src="" alt="personal"> -->
                Gold Detail
              </h5>
            </div>
            <div class="table-responsive">
              <table class="table table-borderless">
                <tbody>
                  <tr>
                    <td style="width: 25%;"><strong>Weight of Gold (in grams):</strong></td>
                    <td style="width: 25%;">{{leadDetails?.weight_of_gold_grams ? leadDetails?.weight_of_gold_grams: 'Not Provided'}}</td>
                    <td style="width: 25%;"><strong>Karat</strong></td>
                    <td style="width: 25%;">{{leadDetails?.karat ? leadDetails?.karat: 'Not Provided'}}</td>
                  </tr>
                  <tr>
                    <td style="width: 25%;"><strong>How Soon You Need Loan (in days):</strong></td>
                    <td style="width: 25%;">{{leadDetails?.how_soon_need_loan_in_days ? leadDetails?.how_soon_need_loan_in_days: 'Not Provided'}}</td>
                    <td style="width: 25%;"><strong></strong></td>
                    <td style="width: 25%;"></td>
                  </tr>

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
