<div class="layout-px-spacing h-100">
  <div class="row h-100" style="min-height: 100vh;">
    <div class="col-xl-12 col-lg-12 col-md-12">
      <div class="widget bg-white h-100">
        <div class="widget-header">
          <div class="row d-block d-sm-flex align-items-center justify-content-between text-center text-sm-left">
            <div>
              <nav class="custom-breadcrum">
                <ol class="breadcrumb justify-content-center justify-content-sm-start">
                  <li class="breadcrumb-item">
                    <a routerlink="/dashboard" routerLink="/dashboard">Home</a>
                  </li>
                  <li class="breadcrumb-item">
                    <a routerLink="/dashboard/balance-transfer-leads"> Balance Transfer Gold Loan</a>
                  </li>
                  <li aria-current="page" class="breadcrumb-item active">
                    Add new lead
                  </li>
                </ol>
              </nav>
              <h1>Balance Transfer Gold Loan</h1>
            </div>
          </div>
        </div>

        <div class="d-flex flex-md-row px-3 mt-4 flex-column-reverse">
          <div class="col-md-4">
            <ul id="progressbar">
              <li class="active StepProgress-item" [ngClass]="{'active': currentStep >= 1}"><span class="span1">Personal
                  Details</span></li>
              <li class="StepProgress-item" [ngClass]="{'active': currentStep >= 2}"><span class="span1">Address
                  Details</span></li>
              <li class="StepProgress-item" [ngClass]="{'active': currentStep >= 3}"><span class="span1">Jewellery
                  Details</span></li>
              <li class="StepProgress-item" [ngClass]="{'active': currentStep >= 4}"><span class="span1">Appointment
                  Details</span></li>
              <li class="StepProgress-item" [ngClass]="{'active': currentStep >= 5}"><span class="span1">Loan
                  Detail</span></li>
              <li class="StepProgress-item" [ngClass]="{'active': currentStep >= 6}"><span class="span1">Document
                  Details</span></li>
              <li class="StepProgress-item" [ngClass]="{'active': currentStep >= 7}"><span class="span1">Bank
                  Details</span></li>
              <li class="StepProgress-item" [ngClass]="{'active': currentStep >= 8}"><span class="span1">Document
                  Upload</span></li>

            </ul>
          </div>



          <div class="main-container col-md-8">
            <div class="detail-div">
              <!-- <div class="row">
                              <div *ngIf="currentStep >1; else elseBlock">
                                  <div class="completed-step"> <i class="fa fa-check"></i></div>
                              </div>
                              <ng-template #elseBlock>
                                  <img src="https://cdn-icons-png.flaticon.com/512/201/201567.png" class="detail-image" alt="">
                              </ng-template>
                          <h3 style="padding-top:15px">Personal Detials</h3>
                      </div> -->
              <div class="vertical-line personal-form" *ngIf="currentStep == 1">
                <div class="form-content">
                  <form [formGroup]="personalDetailsForm">
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="inputFullName">Full Name</label>
                        <input formControlName="name" type="text" class="form-control" placeholder="Full name">
                      </div>

                      <div class="form-group col-md-4">
                        <label for="inputFatherName">Father's Name</label>
                        <input formControlName="fatherName" type="text" class="form-control"
                          placeholder="Father's name">
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="inputState">Gender</label>
                        <select class="form-control" formControlName="gender">
                          <option value="" selected>Select Gender</option>
                          <option value="male">Male</option>
                          <option value="female">Female</option>
                        </select>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputMobile">Mobile Number</label>
                        <input type="number" formControlName="phoneNumber1" class="form-control" id="inputMobile"
                          placeholder="Mobile Number">
                      </div>
                    </div>
                    <!-- <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="inputMobile">Mobile Number</label>
                        <input type="number" formControlName="phoneNumber1" class="form-control" id="inputMobile"
                          placeholder="Mobile Number">

                        <ng-container
                          *ngIf="personalDetailsForm.get('phoneNumber1').invalid && personalDetailsForm.get('phoneNumber1').touched"
                          class="col-sm-3 col-form-label"></ng-container>
                        <div
                          *ngIf="personalDetailsForm.get('phoneNumber1').invalid && personalDetailsForm.get('phoneNumber1').touched"
                          class="custom-invalid-feedback" style="margin-top: 5px;">
                          <small class="text-danger"
                            *ngIf="personalDetailsForm.get('phoneNumber1').errors?.['required']">Enter Mobile
                            Number</small>
                        </div>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputMobile2">Alternate Mobile Number</label>
                        <input formControlName="phoneNumber2" type="number" class="form-control" id="inputMobile2"
                          placeholder="Alternate Mobile Number">

                        <ng-container
                          *ngIf="personalDetailsForm.get('phoneNumber2').invalid && personalDetailsForm.get('phoneNumber2').touched"
                          class="col-sm-3 col-form-label"></ng-container>
                        <div
                          *ngIf="personalDetailsForm.get('phoneNumber2').invalid && personalDetailsForm.get('phoneNumber2').touched"
                          class="custom-invalid-feedback" style="margin-top: 5px;">
                          <small class="text-danger"
                            *ngIf="personalDetailsForm.get('phoneNumber2').errors?.['required']">Enter Alternate Mobile
                            Number</small>
                        </div>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputLoan">Loan Amount</label>
                        <input type="number" formControlName="loanAmount" class="form-control" id="inputLoan"
                          placeholder="Loan Amount">
                        <ng-container
                          *ngIf="personalDetailsForm.get('loanAmount').invalid && personalDetailsForm.get('loanAmount').touched"
                          class="col-sm-3 col-form-label"></ng-container>
                        <div
                          *ngIf="personalDetailsForm.get('loanAmount').invalid && personalDetailsForm.get('loanAmount').touched"
                          class="custom-invalid-feedback" style="margin-top: 5px;">
                          <small class="text-danger"
                            *ngIf="personalDetailsForm.get('loanAmount').errors?.['required']">Enter Loan Amount</small>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="inputPLoan">Loan Account Number</label>
                        <input type="number" formControlName="loanNumber" class="form-control" id="inputLoanNumber"
                          placeholder="Loan Account Number">

                        <ng-container
                          *ngIf="personalDetailsForm.get('loanNumber').invalid && personalDetailsForm.get('loanNumber').touched"
                          class="col-sm-3 col-form-label"></ng-container>
                        <div
                          *ngIf="personalDetailsForm.get('loanNumber').invalid && personalDetailsForm.get('loanNumber').touched"
                          class="custom-invalid-feedback" style="margin-top: 5px;">
                          <small class="text-danger"
                            *ngIf="personalDetailsForm.get('loanNumber').errors?.['required']">Loan Account
                            Number</small>
                        </div>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputPLoan">Purpose of Loan</label>
                        <select formControlName="loanPurpose" id="inputPLoan" class="form-control">
                          <option value="" selected>Select Purpose</option>
                          <option value="travel">Travel</option>
                          <option value="holidays">Holidays</option>
                          <option value="education">Education</option>
                        </select>

                        <ng-container
                          *ngIf="personalDetailsForm.get('loanPurpose').invalid && personalDetailsForm.get('loanPurpose').touched"
                          class="col-sm-3 col-form-label"></ng-container>
                        <div
                          *ngIf="personalDetailsForm.get('loanPurpose').invalid && personalDetailsForm.get('loanPurpose').touched"
                          class="custom-invalid-feedback" style="margin-top: 5px;">
                          <small class="text-danger"
                            *ngIf="personalDetailsForm.get('loanPurpose').errors?.['required']">Enter Loan
                            Purpose</small>
                        </div>
                      </div>

                    </div> -->

                  </form>
                </div>
                <div class="row">
                  <div class="form-btn">
                    <a (click)="stepUp()"><button type="submit" class="btn btn-dark"><i class="fa fa-arrow-right"></i>
                        Next</button></a>
                  </div>
                  <div class="form-btn">
                    <a (click)="savePersonalDetails()"><button type="submit" class="btn btn-primary"><i
                          class="fa fa-arrow-right"></i> Update & Next</button></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="detail-div">
              <div class="vertical-line personal-form" *ngIf="currentStep == 2">
                <div class="form-content">
                  <form [formGroup]="addressDetailsForm">
                    <div class="form-row">

                      <div class="form-group col-md-4">
                        <label for="inputState">Permanent Address Line 1</label>
                        <input formControlName="permanent_address_line1" type="text" class="form-control" placeholder="Address Line 1">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputState">Permanent Address Line 2</label>
                        <input formControlName="permanent_address_line2" type="text" class="form-control" placeholder="Address Line 2">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputState">Permanent Pincode</label>
                        <input formControlName="permanent_pincode" type="number" class="form-control" placeholder="Pincode" (input)="searchPermanentPinCode()">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputState">Permanent City</label>
                        <input formControlName="permanent_city" type="text" class="form-control" placeholder="Pincode">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputState">Permanent State</label>
                        <input formControlName="permanent_state" type="text" class="form-control" placeholder="State">
                      </div>
                    </div>
                    <hr>
                    <div class="form-row">

                      <div class="form-group col-md-4">
                        <label for="inputState">Address Line 1</label>
                        <input formControlName="addressLine1" type="text" class="form-control" placeholder="Address Line 1">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputState">Address Line 2</label>
                        <input formControlName="addressLine2" type="text" class="form-control" placeholder="Address Line 2">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputState">Pincode</label>
                        <input formControlName="pinCode" type="number" class="form-control" placeholder="Pincode" (input)="searchPinCode()">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputState">City</label>
                        <input formControlName="city" type="text" class="form-control" placeholder="Pincode">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputState">State</label>
                        <input formControlName="state" type="text" class="form-control" placeholder="State">
                      </div>
                    </div>
                  </form>
                </div>
                <div class="row">
                  <div class="form-btn">
                    <a (click)="stepDown()"><button type="submit" class="btn btn-dark"><i class="fa fa-arrow-left"></i>
                        Back</button></a>
                  </div>
                  <div class="form-btn">
                    <a (click)="stepUp()"><button type="submit" class="btn btn-dark"><i class="fa fa-arrow-right"></i>
                        Next</button></a>
                  </div>
                  <div class="form-btn">

                    <a (click)="saveAddressDetailsForm()"><button type="submit" class="btn btn-primary"><i
                          class="fa fa-arrow-right"></i> Update & Next</button></a>
                  </div>
                </div>

              </div>
            </div>

            <div class="detail-div">

              <div class="vertical-line personal-form" *ngIf="currentStep == 3">
                <div class="form-content">
                  <form [formGroup]="jewelleryDetailsForm">
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="inputWeight">Weight (in grams)</label>
                        <input formControlName="weight_of_gold_grams" type="number" class="form-control" placeholder="Weight">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputWeight">Gross Weight Gold (in grams)</label>
                        <input formControlName="gross_weight_gold" type="number" class="form-control" placeholder="Weight">
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="inputKarats">Karats</label>
                        <select id="inputKarats" class="form-control" formControlName="karat">
                          <option value="" selected>Select Karats</option>
                          <option value="18">18 karats</option>
                          <option value="20">20 Karats</option>
                          <option value="22">22 Karats</option>
                          <option value="24">24 Karats</option>
                        </select>
                      </div>
                    </div>
                    <!-- <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="inputKarats">Karats</label>
                        <select id="inputKarats" class="form-control" formControlName="karats">
                          <option value="" selected>Select Karats</option>
                          <option value="18 Karats">18 karats</option>
                          <option value="20 Karats">20 Karats</option>
                          <option value="22 Karats">22 Karats</option>
                          <option value="24 Karats">24 Karats</option>
                        </select>
                        <ng-container
                          *ngIf="jewelleryDetailsForm.get('karats').invalid && jewelleryDetailsForm.get('karats').touched"
                          class="col-sm-3 col-form-label"></ng-container>
                        <div
                          *ngIf="jewelleryDetailsForm.get('karats').invalid && jewelleryDetailsForm.get('karats').touched"
                          class="custom-invalid-feedback" style="margin-top: 5px;">
                          <small class="text-danger"
                            *ngIf="jewelleryDetailsForm.get('karats').errors?.['required']">Document Type is
                            required</small>
                        </div>
                      </div>
                      <div class="form-group col-md-4" style="padding: 33px 0 0 15px;">
                        <a (click)="addJewellery()"><button class="btn btn-primary btn-sm"><i
                              class="fa fa-plus mr-1"></i>Add</button></a> &nbsp;
                        <a><button class="btn btn-outline-danger btn-sm"><i
                              class="fa fa-times mr-1"></i>Cancel</button></a>

                      </div>

                    </div>
                    <div class="row">
                      <table class="table">
                        <thead class="thead-dark">
                          <tr>
                            <th scope="col">Jewellery Type</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Weight</th>
                            <th scope="col">Karats</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of tabelData">
                            <th scope="row">{{item.jewelleryType}}</th>
                            <td>{{item.quantity}}</td>
                            <td>{{item.weight}}</td>
                            <td>{{item.karats}}</td>
                            <td><button type="button" class="btn btn-primary" (click)="removeItem(item)">Remove</button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div> -->
                  </form>
                </div>
                <div class="row">
                  <div class="form-btn">
                    <a (click)="stepDown()"><button type="submit" class="btn btn-dark"><i class="fa fa-arrow-left"></i>
                        Back</button></a>
                  </div>
                  <div class="form-btn">
                    <a (click)="stepUp()"><button type="submit" class="btn btn-dark"><i class="fa fa-arrow-right"></i>
                        Next</button></a>
                  </div>
                  <div class="form-btn">

                    <a (click)="savejewelleryDetailsForm()"><button type="submit" class="btn btn-primary"><i
                          class="fa fa-arrow-right"></i> Update & Next</button></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="detail-div">

              <div class="vertical-line personal-form" *ngIf="currentStep == 4">
                <div class="form-content">
                  <form [formGroup]="appointmentDetailsForm">
                    <div class="form-row">
                      <!-- <div class="form-group col-md-4">
                                          <label for="inputBank">Bank</label>
                                          <select id="inputBank" class="form-control" formControlName="bank">
                                          <option value="" selected>Selected Bank</option>
                                          <option value="ICIC">ICIC </option>
                                          <option value="HDFC">HDFC </option>
                                          </select>
                                              <ng-container *ngIf="documentDetailsForm.get('bank').invalid && documentDetailsForm.get('bank').touched" class="col-sm-3 col-form-label"></ng-container>
                                              <div *ngIf="documentDetailsForm.get('bank').invalid && documentDetailsForm.get('bank').touched" class="custom-invalid-feedback" style="margin-top: 5px;">
                                                  <small class="text-danger" *ngIf="documentDetailsForm.get('bank').errors?.['required']">Document Type is required</small>
                                              </div>
                                      </div> -->
                      <div class="form-group col-md-4">
                        <label for="inputbranch">IFSC</label>
                        <input type="text" class="form-control" placeholder="IFSC Code" formControlName="ifsc" (input)="searchIFSC()">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputAmountOld">Bank Name</label>
                        <input formControlName="bank" type="text" class="form-control" placeholder="Bank Name" readonly>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputAmountOld">Branch Name</label>
                        <input formControlName="branch" type="text" class="form-control" placeholder="Branch Name" readonly>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="inputAppointment">Date of Appointment</label>
                        <input formControlName="appointment_date" type="date" class="form-control"
                          placeholder="DD-MM-YYYY">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputTime">Time of Appointment</label>
                        <input formControlName="appointment_time" type="time" class="form-control" placeholder="">
                      </div>
                    </div>
                  </form>
                </div>
                <div class="row">
                  <div class="form-btn">
                    <a (click)="stepDown()"><button type="submit" class="btn btn-dark"><i class="fa fa-arrow-left"></i>
                        Back</button></a>
                  </div>
                  <div class="form-btn mr-2">
                    <a (click)="stepUp()"><button type="submit" class="btn btn-dark"><i class="fa fa-arrow-right"></i>
                        Next </button></a>
                  </div>
                  <div class="form-btn">

                    <a (click)="saveappointmentDetailsForm()"><button type="submit" class="btn btn-primary"><i
                          class="fa fa-arrow-right"></i>Update & Next</button></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="detail-div">

              <div class="vertical-line personal-form" *ngIf="currentStep == 5">
                <div class="form-content">
                  <form [formGroup]="loanDetails">
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="inputState">Existing Loan Account Number </label>
                        <input type="number"
                          class="form-control" placeholder="Loan Account Number" formControlName="existing_loan_account_number">
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputState">Outstanding Loan Amount</label>
                        <input type="number"
                          class="form-control" placeholder="Loan Amount" formControlName="outstanding_loan_amount">
                      </div>
                    </div>
                  </form>
                </div>
                <div class="row">
                  <div class="form-btn">
                    <a (click)="stepDown()"><button type="submit" class="btn btn-dark"><i class="fa fa-arrow-left"></i>
                        Back</button></a>
                  </div>
                  <div class="form-btn">
                    <a (click)="stepUp()"><button type="submit" class="btn btn-dark"><i
                          class="fa fa-arrow-right"></i>Next</button></a>
                  </div>
                  <div class="form-btn">
                    <a (click)="saveexistingLoanDetailsForm()"><button type="submit" class="btn btn-primary"><i
                          class="fa fa-arrow-right"></i>Update & Next</button></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="detail-div">

              <div class="vertical-line personal-form" *ngIf="currentStep == 6">
                <div class="form-content">
                  <form [formGroup]="documentDetailsForm">
                    <div class="form-row">

                      <div class="form-group col-md-4">
                        <label for="inputState">Document (POI) </label>
                        <select id="inputState" class="form-control" formControlName="documentType">
                          <option value="" selected>Selected Document Type</option>
                          <option value="Adhar Card">Adhar Card</option>
                        </select>
                        <ng-container
                          *ngIf="documentDetailsForm.get('documentType').invalid && documentDetailsForm.get('documentType').touched"
                          class="col-sm-3 col-form-label"></ng-container>
                        <div
                          *ngIf="documentDetailsForm.get('documentType').invalid && documentDetailsForm.get('documentType').touched"
                          class="custom-invalid-feedback" style="margin-top: 5px;">
                          <small class="text-danger"
                            *ngIf="documentDetailsForm.get('documentType').errors?.['required']">Document Type is
                            required</small>
                        </div>
                      </div>

                      <div class="form-group col-md-4">
                        <label for="inputDocumentNumber">Document Number (POI)</label>
                        <input formControlName="documentNumber" type="number" class="form-control"
                          placeholder="Document Number">

                        <ng-container
                          *ngIf="documentDetailsForm.get('documentNumber').invalid && documentDetailsForm.get('documentNumber').touched"
                          class="col-sm-3 col-form-label"></ng-container>
                        <div
                          *ngIf="documentDetailsForm.get('documentNumber').invalid && documentDetailsForm.get('documentNumber').touched"
                          class="custom-invalid-feedback" style="margin-top: 5px;">
                          <small class="text-danger"
                            *ngIf="documentDetailsForm.get('documentNumber').errors?.['required']">Enter Document
                            Number</small>
                        </div>
                      </div>

                      <div class="form-group col-md-4">
                        <label for="inputDocumentTypePOA">Document (POA) </label>
                        <select id="inputDocumentTypePOA" class="form-control" formControlName="documentTypePOA">
                          <option value="" selected>Selected Document Type</option>
                          <option value="Adhar Card">Adhar Card</option>
                        </select>
                        <ng-container
                          *ngIf="documentDetailsForm.get('documentTypePOA').invalid && documentDetailsForm.get('documentTypePOA').touched"
                          class="col-sm-3 col-form-label"></ng-container>
                        <div
                          *ngIf="documentDetailsForm.get('documentTypePOA').invalid && documentDetailsForm.get('documentTypePOA').touched"
                          class="custom-invalid-feedback" style="margin-top: 5px;">
                          <small class="text-danger"
                            *ngIf="documentDetailsForm.get('documentTypePOA').errors?.['required']">Document Type is
                            required</small>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="inputDocumentNumber">Document Number (POA)</label>
                        <input formControlName="documentNumberPOA" type="number" class="form-control"
                          placeholder="Document Number">

                        <ng-container
                          *ngIf="documentDetailsForm.get('documentNumberPOA').invalid && documentDetailsForm.get('documentNumberPOA').touched"
                          class="col-sm-3 col-form-label"></ng-container>
                        <div
                          *ngIf="documentDetailsForm.get('documentNumberPOA').invalid && documentDetailsForm.get('documentNumberPOA').touched"
                          class="custom-invalid-feedback" style="margin-top: 5px;">
                          <small class="text-danger"
                            *ngIf="documentDetailsForm.get('documentNumberPOA').errors?.['required']">Enter Document
                            Number</small>
                        </div>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputFatherName">PAN Number</label>
                        <input formControlName="panNumber" type="number" class="form-control" placeholder="PAN Number">

                        <ng-container
                          *ngIf="documentDetailsForm.get('panNumber').invalid && documentDetailsForm.get('panNumber').touched"
                          class="col-sm-3 col-form-label"></ng-container>
                        <div
                          *ngIf="documentDetailsForm.get('panNumber').invalid && documentDetailsForm.get('panNumber').touched"
                          class="custom-invalid-feedback" style="margin-top: 5px;">
                          <small class="text-danger"
                            *ngIf="documentDetailsForm.get('panNumber').errors?.['required']">Enter Father Name</small>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="row">
                  <div class="form-btn">
                    <a (click)="stepDown()"><button type="submit" class="btn btn-dark"><i class="fa fa-arrow-left"></i>
                        Back</button></a>
                  </div>
                  <div class="form-btn">

                    <a (click)="savedocumentDetailsForm()"><button type="submit" class="btn btn-primary"><i
                          class="fa fa-arrow-right"></i> Next</button></a>
                  </div>
                </div>
              </div>
            </div>

            <div class="detail-div">

              <div class="vertical-line personal-form" *ngIf="currentStep == 7">
                <div class="form-content">
                  <form [formGroup]="existingLoanDetailsForm">
                    <div class="form-row">

                      <div class="form-group col-md-4">
                        <label for="inputBankName">Bank Name</label>
                        <input formControlName="bankName" type="text" class="form-control" placeholder="Bank Name">
                        <ng-container
                          *ngIf="existingLoanDetailsForm.get('bankName').invalid && existingLoanDetailsForm.get('bankName').touched"
                          class="col-sm-3 col-form-label"></ng-container>
                        <div
                          *ngIf="existingLoanDetailsForm.get('bankName').invalid && existingLoanDetailsForm.get('bankName').touched"
                          class="custom-invalid-feedback" style="margin-top: 5px;">
                          <small class="text-danger"
                            *ngIf="existingLoanDetailsForm.get('bankName').errors?.['required']">Bank Name is
                            required</small>
                        </div>
                      </div>

                      <div class="form-group col-md-4">
                        <label for="inputAmountOld">Amount</label>
                        <input formControlName="amountOld" type="number" class="form-control" placeholder="Amount">

                        <ng-container
                          *ngIf="existingLoanDetailsForm.get('amountOld').invalid && existingLoanDetailsForm.get('amountOld').touched"
                          class="col-sm-3 col-form-label"></ng-container>
                        <div
                          *ngIf="existingLoanDetailsForm.get('amountOld').invalid && existingLoanDetailsForm.get('amountOld').touched"
                          class="custom-invalid-feedback" style="margin-top: 5px;">
                          <small class="text-danger"
                            *ngIf="existingLoanDetailsForm.get('amountOld').errors?.['required']">Enter Amount</small>
                        </div>
                      </div>

                      <div class="form-group col-md-4">
                        <label for="inputdateOld">Date</label>
                        <input formControlName="amountOld" type="date" class="form-control">
                        <ng-container
                          *ngIf="existingLoanDetailsForm.get('dateOld').invalid && existingLoanDetailsForm.get('dateOld').touched"
                          class="col-sm-3 col-form-label"></ng-container>
                        <div
                          *ngIf="existingLoanDetailsForm.get('dateOld').invalid && existingLoanDetailsForm.get('dateOld').touched"
                          class="custom-invalid-feedback" style="margin-top: 5px;">
                          <small class="text-danger"
                            *ngIf="existingLoanDetailsForm.get('dateOld').errors?.['required']">Date required</small>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="inputDocumentNumber">Jewellery Valuation</label>
                        <input formControlName="valuation" type="number" class="form-control"
                          placeholder="Jewellery Valuation">

                        <ng-container
                          *ngIf="existingLoanDetailsForm.get('valuation').invalid && existingLoanDetailsForm.get('valuation').touched"
                          class="col-sm-3 col-form-label"></ng-container>
                        <div
                          *ngIf="existingLoanDetailsForm.get('valuation').invalid && existingLoanDetailsForm.get('valuation').touched"
                          class="custom-invalid-feedback" style="margin-top: 5px;">
                          <small class="text-danger"
                            *ngIf="existingLoanDetailsForm.get('valuation').errors?.['required']">Enter Jewellery
                            Valuation</small>
                        </div>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputoutstandingAmount">Outstanding Amount</label>
                        <input formControlName="outstandingAmount" type="number" class="form-control"
                          placeholder="Outstanding Amount">

                        <ng-container
                          *ngIf="existingLoanDetailsForm.get('outstandingAmount').invalid && existingLoanDetailsForm.get('outstandingAmount').touched"
                          class="col-sm-3 col-form-label"></ng-container>
                        <div
                          *ngIf="existingLoanDetailsForm.get('outstandingAmount').invalid && existingLoanDetailsForm.get('outstandingAmount').touched"
                          class="custom-invalid-feedback" style="margin-top: 5px;">
                          <small class="text-danger"
                            *ngIf="existingLoanDetailsForm.get('outstandingAmount').errors?.['required']">Enter
                            Outstanding Amount</small>
                        </div>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputbalanceTransferAmount">Balance Transfer Amount</label>
                        <input formControlName="balanceTransferAmount" type="number" class="form-control"
                          placeholder="Balance Transfer Amount">

                        <ng-container
                          *ngIf="existingLoanDetailsForm.get('balanceTransferAmount').invalid && existingLoanDetailsForm.get('balanceTransferAmount').touched"
                          class="col-sm-3 col-form-label"></ng-container>
                        <div
                          *ngIf="existingLoanDetailsForm.get('balanceTransferAmount').invalid && existingLoanDetailsForm.get('balanceTransferAmount').touched"
                          class="custom-invalid-feedback" style="margin-top: 5px;">
                          <small class="text-danger"
                            *ngIf="existingLoanDetailsForm.get('balanceTransferAmount').errors?.['required']">Enter
                            Balance Transfer Amount</small>
                        </div>
                      </div>

                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-4">
                        <label for="inputRequiredAmount">Required Amount</label>
                        <input formControlName="requiredAmount" type="number" class="form-control"
                          placeholder="Required Amount">

                        <ng-container
                          *ngIf="existingLoanDetailsForm.get('requiredAmount').invalid && existingLoanDetailsForm.get('requiredAmount').touched"
                          class="col-sm-3 col-form-label"></ng-container>
                        <div
                          *ngIf="existingLoanDetailsForm.get('requiredAmount').invalid && existingLoanDetailsForm.get('requiredAmount').touched"
                          class="custom-invalid-feedback" style="margin-top: 5px;">
                          <small class="text-danger"
                            *ngIf="existingLoanDetailsForm.get('requiredAmount').errors?.['required']">Enter Required
                            Amount</small>
                        </div>
                      </div>
                      <div class="form-group col-md-4">
                        <label for="inputTenure">Tenure</label>
                        <input formControlName="tenure" type="number" class="form-control" placeholder="PAN Number">

                        <ng-container
                          *ngIf="existingLoanDetailsForm.get('tenure').invalid && existingLoanDetailsForm.get('tenure').touched"
                          class="col-sm-3 col-form-label"></ng-container>
                        <div
                          *ngIf="existingLoanDetailsForm.get('tenure').invalid && existingLoanDetailsForm.get('tenure').touched"
                          class="custom-invalid-feedback" style="margin-top: 5px;">
                          <small class="text-danger"
                            *ngIf="existingLoanDetailsForm.get('tenure').errors?.['required']">Enter Father Name</small>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
                <div class="row">
                  <div class="form-btn">
                    <a (click)="stepDown()"><button type="submit" class="btn btn-dark"><i class="fa fa-arrow-left"></i>
                        Back</button></a>
                  </div>
                  <div class="form-btn">

                    <a (click)="saveexistingLoanDetailsForm()"><button type="submit" class="btn btn-primary"><i
                          class="fa fa-arrow-right"></i> Next</button></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="detail-div">

              <div class="vertical-line personal-form" *ngIf="currentStep == 8">
                <div class="form-content">
                  <form [formGroup]="documentUploadDetailsForm">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputBankName">Customer Photo</label>
                        <div class="upload-btn">
                          <label for="upload" class="file-upload__label"><i
                              class="fa fa-plus ml-2"></i>Upload</label><input id="customerPhoto" type="file"
                            name="file-upload">
                        </div>
                        <ng-container
                          *ngIf="documentUploadDetailsForm.get('customerPhoto').invalid && documentUploadDetailsForm.get('customerPhoto').touched"
                          class="col-sm-3 col-form-label"></ng-container>
                        <div
                          *ngIf="documentUploadDetailsForm.get('customerPhoto').invalid && documentUploadDetailsForm.get('customerPhoto').touched"
                          class="custom-invalid-feedback" style="margin-top: 5px;">
                          <small class="text-danger"
                            *ngIf="documentUploadDetailsForm.get('customerPhoto').errors?.['required']">Bank Name is
                            required</small>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputBankName">Blank Check 1</label>
                        <div class="upload-btn">
                          <label for="upload" class="file-upload__label"><i
                              class="fa fa-plus ml-2"></i>Upload</label><input id="blankCheck1" type="file"
                            name="file-upload">
                        </div>
                        <ng-container
                          *ngIf="documentUploadDetailsForm.get('blankCheck1').invalid && documentUploadDetailsForm.get('blankCheck1').touched"
                          class="col-sm-3 col-form-label"></ng-container>
                        <div
                          *ngIf="documentUploadDetailsForm.get('blankCheck1').invalid && documentUploadDetailsForm.get('blankCheck1').touched"
                          class="custom-invalid-feedback" style="margin-top: 5px;">
                          <small class="text-danger"
                            *ngIf="documentUploadDetailsForm.get('blankCheck1').errors?.['required']">Bank Name is
                            required</small>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <label for="inputBankName">Blank Check 2</label>
                        <div class="upload-btn">
                          <label for="upload" class="file-upload__label"><i
                              class="fa fa-plus ml-2"></i>Upload</label><input formControlName="blankCheck2"
                            id="blankCheck2" type="file" name="file-upload">
                        </div>
                        <ng-container
                          *ngIf="documentUploadDetailsForm.get('blankCheck2').invalid && documentUploadDetailsForm.get('blankCheck2').touched"
                          class="col-sm-3 col-form-label"></ng-container>
                        <div
                          *ngIf="documentUploadDetailsForm.get('blankCheck2').invalid && documentUploadDetailsForm.get('blankCheck2').touched"
                          class="custom-invalid-feedback" style="margin-top: 5px;">
                          <small class="text-danger"
                            *ngIf="documentUploadDetailsForm.get('blankCheck2').errors?.['required']">Blank Check 2 is
                            required</small>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputBankName">KYC Document (POI)</label>
                        <div class="upload-btn">
                          <label for="upload" class="file-upload__label"><i
                              class="fa fa-plus ml-2"></i>Upload</label><input id="kycPOI" type="file"
                            name="file-upload">
                        </div>
                        <ng-container
                          *ngIf="documentUploadDetailsForm.get('kycPOI').invalid && documentUploadDetailsForm.get('kycPOI').touched"
                          class="col-sm-3 col-form-label"></ng-container>
                        <div
                          *ngIf="documentUploadDetailsForm.get('kycPOI').invalid && documentUploadDetailsForm.get('kycPOI').touched"
                          class="custom-invalid-feedback" style="margin-top: 5px;">
                          <small class="text-danger"
                            *ngIf="documentUploadDetailsForm.get('kycPOI').errors?.['required']">KYC (POI) is
                            required</small>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">

                      <div class="form-group col-md-6">
                        <label for="inputBankName">KYC Document (POA)</label>
                        <div class="upload-btn">
                          <label for="upload" class="file-upload__label"><i
                              class="fa fa-plus ml-2"></i>Upload</label><input id="kycPOA" type="file"
                            name="file-upload">
                        </div>
                        <ng-container
                          *ngIf="documentUploadDetailsForm.get('kycPOA').invalid && documentUploadDetailsForm.get('kycPOA').touched"
                          class="col-sm-3 col-form-label"></ng-container>
                        <div
                          *ngIf="documentUploadDetailsForm.get('kycPOA').invalid && documentUploadDetailsForm.get('kycPOA').touched"
                          class="custom-invalid-feedback" style="margin-top: 5px;">
                          <small class="text-danger"
                            *ngIf="documentUploadDetailsForm.get('kycPOA').errors?.['required']">KYC (POA) is
                            required</small>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputBankName">Loan Document</label>
                        <div class="upload-btn">
                          <label for="upload" class="file-upload__label"><i
                              class="fa fa-plus ml-2"></i>Upload</label><input id="loanDocument" type="file"
                            name="file-upload">
                        </div>
                        <ng-container
                          *ngIf="documentUploadDetailsForm.get('loanDocument').invalid && documentUploadDetailsForm.get('loanDocument').touched"
                          class="col-sm-3 col-form-label"></ng-container>
                        <div
                          *ngIf="documentUploadDetailsForm.get('loanDocument').invalid && documentUploadDetailsForm.get('loanDocument').touched"
                          class="custom-invalid-feedback" style="margin-top: 5px;">
                          <small class="text-danger"
                            *ngIf="documentUploadDetailsForm.get('loanDocument').errors?.['required']">Loan Document is
                            required</small>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">

                      <div class="form-group col-md-6">
                        <label for="inputBankName">Foreclosure Letter</label>
                        <div class="upload-btn">
                          <label for="upload" class="file-upload__label"><i
                              class="fa fa-plus ml-2"></i>Upload</label><input id="foreclosureLetter" type="file"
                            name="file-upload">
                        </div>
                        <ng-container
                          *ngIf="documentUploadDetailsForm.get('foreclosureLetter').invalid && documentUploadDetailsForm.get('foreclosureLetter').touched"
                          class="col-sm-3 col-form-label"></ng-container>
                        <div
                          *ngIf="documentUploadDetailsForm.get('foreclosureLetter').invalid && documentUploadDetailsForm.get('foreclosureLetter').touched"
                          class="custom-invalid-feedback" style="margin-top: 5px;">
                          <small class="text-danger"
                            *ngIf="documentUploadDetailsForm.get('foreclosureLetter').errors?.['required']">Foreclosure
                            Letter is required</small>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputBankName">ATM Withdrawl Slip</label>
                        <div class="upload-btn">
                          <label for="upload" class="file-upload__label"><i
                              class="fa fa-plus ml-2"></i>Upload</label><input id="atmWithdrawlSlip" type="file"
                            name="file-upload">
                        </div>
                        <ng-container
                          *ngIf="documentUploadDetailsForm.get('atmWithdrawlSlip').invalid && documentUploadDetailsForm.get('atmWithdrawlSlip').touched"
                          class="col-sm-3 col-form-label"></ng-container>
                        <div
                          *ngIf="documentUploadDetailsForm.get('atmWithdrawlSlip').invalid && documentUploadDetailsForm.get('atmWithdrawlSlip').touched"
                          class="custom-invalid-feedback" style="margin-top: 5px;">
                          <small class="text-danger"
                            *ngIf="documentUploadDetailsForm.get('atmWithdrawlSlip').errors?.['required']">ATM Withdrawl
                            Slip is required</small>
                        </div>
                      </div>
                    </div>
                    <div class="form-row">

                      <div class="form-group col-md-6">
                        <label for="inputBankName">Promissory Note</label>
                        <div class="upload-btn">
                          <label for="upload" class="file-upload__label"><i
                              class="fa fa-plus ml-2"></i>Upload</label><input id="promissoryNote" type="file"
                            name="file-upload">
                        </div>
                        <ng-container
                          *ngIf="documentUploadDetailsForm.get('promissoryNote').invalid && documentUploadDetailsForm.get('promissoryNote').touched"
                          class="col-sm-3 col-form-label"></ng-container>
                        <div
                          *ngIf="documentUploadDetailsForm.get('promissoryNote').invalid && documentUploadDetailsForm.get('promissoryNote').touched"
                          class="custom-invalid-feedback" style="margin-top: 5px;">
                          <small class="text-danger"
                            *ngIf="documentUploadDetailsForm.get('promissoryNote').errors?.['required']">Promissory Note
                            is required</small>
                        </div>
                      </div>
                      <div class="form-group col-md-6">
                        <label for="inputBankName">Last Page of the Agreement</label>
                        <div class="upload-btn">
                          <label for="upload" class="file-upload__label"><i
                              class="fa fa-plus ml-2"></i>Upload</label><input id="lastPageOfAgreement" type="file"
                            name="file-upload">
                        </div>
                        <ng-container
                          *ngIf="documentUploadDetailsForm.get('lastPageOfAgreement').invalid && documentUploadDetailsForm.get('lastPageOfAgreement').touched"
                          class="col-sm-3 col-form-label"></ng-container>
                        <div
                          *ngIf="documentUploadDetailsForm.get('lastPageOfAgreement').invalid && documentUploadDetailsForm.get('lastPageOfAgreement').touched"
                          class="custom-invalid-feedback" style="margin-top: 5px;">
                          <small class="text-danger"
                            *ngIf="documentUploadDetailsForm.get('lastPageOfAgreement').errors?.['required']">Last Page
                            of the agreement is required</small>
                        </div>
                      </div>
                    </div>

                  </form>
                </div>
                <div class="row">
                  <div class="form-btn">
                    <a (click)="stepDown()"><button type="submit" class="btn btn-dark"><i class="fa fa-arrow-left"></i>
                        Back</button></a>
                  </div>
                  <div class="form-btn">

                    <a (click)="saveForms()"><button type="submit" class="btn btn-success"><i
                          class="fa fa-arrow-right"></i> Submit</button></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
