/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body{
    background-color: #f4f6f8!important;

  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  input[type=number] {
    -moz-appearance: textfield;
  }

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';



.modal-demo .ui-modal {
  max-width: 1000px;
  max-height:750px;
  /* for resize limits use min-width, min-height, max-width, max-height in css */
}
.modal-demo .ui-modal-overlay, .modal-demo .ui-modal {
  z-index: 99999;
}
/* colors */
:root {
  --dt-color-primary: #002767;
}
/* for IE */
.ui-modal-header {
  background-color: #002767;
}
